@using Microsoft.AspNetCore.Mvc.Rendering;

@page "/etfGeoVisualizer"
@rendermode InteractiveServer

<PageTitle>ETF Geo Visualizer</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>


<table>
    @foreach (var todo in todos)
    {
        <tr>
            <td>
                <input type="checkbox" @bind="todo.IsDone" />
            </td>
            <td>
                <input @bind="todo.Title" />
            </td>
            <td>
                <p>Test</p>
            </td>
        </tr>
    }
</table>


@code {
    private string? newTodo;
    private List<TodoItem> todos = new();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
