@using Microsoft.AspNetCore.Mvc.Rendering;

@page "/etfGeoVisualizer"
@rendermode InteractiveServer

<PageTitle>ETF Geo Visualizer</PageTitle>

<input placeholder="Search an asset by ticker regex" @bind="newAssetRegex" />
<button @onclick="AddPosition">Add asset to portfolio</button>

<p>
    <h3>Positions in portfolio: @positions.Count()</h3>

    <table>
        @foreach (var position in positions)
        {
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    <input @bind="position.Ticker" />
                </td>
                <td>
                    <p>Test</p>
                </td>
            </tr>
        }
    </table>
</p>

@code {
    private static IDatabase database = new FakeDatabase();

    private string? newAssetRegex;
    private List<PositionView> positions = new();

    private void AddPosition()
    {
        if (!string.IsNullOrWhiteSpace(newAssetRegex))
        {
            // FIXME: replace FirstOrDefault with a dropdown list selection
            var asset = database.RetrieveAssetsMatchingPattern(newAssetRegex).FirstOrDefault();

            if (asset is not null)
            {
                positions.Add(
                    new PositionView
                    {
                        Ticker = asset.Ticker,
                        AssetClass = asset.AssetClass.ToString(),
                        Description = asset.Description,
                        WeightInPortfolio = (100m / (positions.Count() + 1)).ToString("0.00%")
                    });
            }
            newAssetRegex = string.Empty;
        }
    }
}
