@using Microsoft.AspNetCore.Mvc.Rendering;

@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo 2</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<table>
    @foreach (var todo in todos)
    {
        <tr>
            <td>
                <input type="checkbox" @bind="todo.IsDone" />
            </td>
            <td>
                <input @bind="todo.Title" />
            </td>
            <td>
                <p>Test</p>
            </td>
        </tr>
    }
</table>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private string? newTodo;
    private List<TodoItem> todos = new();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
